# extends 'base.html'
# import 'macro/forms.html' as forms
# import 'macro/utils.html' as utils


# block content
  <div class="page-header">
    <h1>
      # if crash_db.key
        {{utils.back_link('Back', 'crash_view', crash_id=crash_db.key.id())}}
      # else
        {{utils.back_link('Back', 'crash_list')}}
      # endif
      {{title}}
    </h1>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <form method="POST" action="." enctype="multipart/form-data" novalidate>
        {{forms.text_field(form.ver, autofocus=True)}}
        {{forms.text_field(form.platform)}}
        {{forms.text_field(form.process_type)}}
        {{forms.text_field(form.guid, autofocus=True)}}
        {{forms.text_field(form.version)}}
        {{forms.text_field(form.productName)}}
        {{forms.text_field(form.prod)}}
        {{forms.text_field(form.companyName)}}
        {{form.upload_file_minidump}}
        <button type="submit" class="btn btn-primary btn-block btn-loading" {{forms.data_loading_text()}}>
          # if crash_db.key
            Update
          # else
            Create
          # endif
        </button>
      </form>
    </div>
  </div>
# endblock
