# extends 'base.html'
# import 'macro/utils.html' as utils

# block head
  {{utils.prefetch_link(next_url)}}
# endblock

# block content
  <div class="page-header">
    <a class="pull-right btn btn-primary" href="{{url_for('crash_update')}}">
      <fa class="fa fa-plus fa-fw"></fa> Add Crash
    </a>
    <h1>{{title}}</h1>
  </div>
  <div class="table-responsive {{'hide' if not crash_dbs|count}}">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr class="text-nowrap">
          <th class="col-xs-1">{{utils.order_by_link('ver', 'Electron Version')}}</th>
          <th class="col-xs-1">{{utils.order_by_link('platform', 'Platform')}}</th>
          <th class="col-xs-1">{{utils.order_by_link('process_type', 'Process Type')}}</th>
          <th class="col-xs-1">{{utils.order_by_link('guid', 'GUID')}}</th>
          <th class="col-xs-1">{{utils.order_by_link('version', 'App Version')}}</th>
          <th class="col-xs-1">{{utils.order_by_link('productName', 'Product Name')}}</th>
          <th class="col-xs-1">{{utils.order_by_link('prod', 'Underlying Product')}}</th>
          <th class="col-xs-1">{{utils.order_by_link('companyName', 'Company Name')}}</th>
          <th class="col-xs-1">File</th>
        </tr>
      </thead>
      <tbody>
        # for crash_db in crash_dbs
          <tr class="row-link" id="{{crash_db.key.urlsafe()}}" data-href="{{url_for('crash_view', crash_id=crash_db.key.id())}}">
            <td>{{crash_db.ver}}</td>
            <td>{{crash_db.platform}}</td>
            <td>{{crash_db.process_type}}</td>
            <td>{{crash_db.guid}}</td>
            <td>{{crash_db.version}}</td>
            <td>{{crash_db.productName}}</td>
            <td>{{crash_db.prod}}</td>
            <td>{{crash_db.companyName}}</td>
            <td class="not-link"><a href="{{crash_db.serve_url}}" target="">View</a></td>
          </tr>
        # endfor
      </tbody>
    </table>
  </div>

  {{utils.next_link(next_url)}}
# endblock
