# extends 'base.html'
# import 'macro/forms.html' as forms
# import 'macro/utils.html' as utils


# block content
  <div class="page-header">
    <div class="pull-right">
      <a class="btn btn-primary" href="{{url_for('project_update', project_id=project_db.key.id())}}">
        <fa class="fa fa-fw fa-pencil"></fa> Edit
      </a>
      <a class="btn btn-primary" href="{{url_for('crash_create', project_key=project_db.key.urlsafe())}}">
        <span class="fa fa-bomb"></span> New Crash
      </a>
    </div>
    <h1>
      {{utils.back_link('Back', 'project_list')}}
      {{title}}
    </h1>
    <p>
      <a href="{{url_for('crash_create', project_id=project_db.key.id())}}">
        Short URL
      </a>
      &mdash;
      <a href="{{url_for('crash_create', project_key=project_db.key.urlsafe())}}">
        Long URL
      </a>
    </p>
  </div>

  <div class="table-responsive {{'hide' if not crash_dbs|count}}">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr class="text-nowrap">
          <th class="col-xs-1">{{utils.order_by_link('guid', 'GUID')}}</th>
          <th class="col-xs-1">{{utils.order_by_link('version', 'Version')}}</th>
          <th class="col-xs-1">{{utils.order_by_link('productName', 'Product')}}</th>
          <th class="col-xs-1">{{utils.order_by_link('ver', 'Electron')}}</th>
          <th class="col-xs-1">{{utils.order_by_link('platform', 'Platform')}}</th>
          <th class="col-xs-1">{{utils.order_by_link('process_type', 'Process Type')}}</th>
          <th class="col-xs-1">{{utils.order_by_link('companyName', 'Company')}}</th>
          <th class="col-xs-1">{{utils.order_by_link('created', 'Created')}}</th>
        </tr>
      </thead>
      <tbody>
        # for crash_db in crash_dbs
          <tr id="{{crash_db.key.urlsafe()}}">
            <td>{{crash_db.guid}}</td>
            <td>{{crash_db.version}}</td>
            <td>{{crash_db.productName}}</td>
            <td>{{crash_db.ver}}</td>
            <td>{{crash_db.platform}}</td>
            <td>{{crash_db.process_type}}</td>
            <td>{{crash_db.companyName}}</td>
            <td>
              <time datetime="{{crash_db.created}}">
                {{crash_db.created.strftime('%Y-%m-%d')}}
              </time>
            </td>
          </tr>
        # endfor
      </tbody>
    </table>
  </div>

  {{utils.next_link(next_url)}}
# endblock
